# binance API config
BINANCE_API_KEY=
BINANCE_SECRET_KEY=
BINANCE_RECV_WINDOW=3000
BINANCE_FEE=0.075

# redis config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=root

# event config
EVENT_HOST=localhost
EVENT_PORT=1212

#####################################################################

# release: реальные сделки
# develop: сделки эмулируются
# backtest: моментальная проверка доходности путем загрузки цен за прошлые сутки
MODE=release
# размер изначального лота (PIP)
LOT_SIZE=1.0
# минимальный % изменения цены, для получения прибыли
TAKE_PROFIT=0.2
# остановить убытки, указывается % падения цены
# 0 = отлкючить
STOP_LOSS=0.0
# усреднение цены (докупка), указывается % падения цены
# данный процент корелируется от того, сколько раз можно будет еще усреднить
# 0 = отлкючить
AVERAGING=4.0
# как распределяется полученный профит, 0 - получать все в quote, 1 - все в base
PROFIT_RATIO=0.5