# binance API config
BINANCE_API_KEY=
BINANCE_SECRET_KEY=
BINANCE_RECV_WINDOW=3000

# redis config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=root

# event config
EVENT_TOKEN=

#####################################################################

# release: реальные сделки
# develop: сделки эмулируются
# backtest: моментальная проверка доходности путем загрузки цен за прошлые сутки
MODE=release
# как распределяется полученный профит, 0 - получать все в quote, 1 - все в base
PROFIT_RATIO=0.5