# binance API config
BINANCE_API_KEY=
BINANCE_SECRET_KEY=
BINANCE_COMMISION=0.075
BINANCE_RECV_WINDOW=3000
BINANCE_TEST_MODE=1

# redis config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=root

#####################################################################

# тип стратегии
STRATEGY=scalping

# тестовый режим
# 1 - включить, 0 - выключить
TEST=1

# настройки открытия сделки
# следующую сделку при росте/снижении цены от предыдущей (на %) и умножаем лот
OPEN_NEXT_PRICE_PERCENT=1.0
OPEN_NEXT_LOT_MULTIPLY=2.0

# настройки закрытия сделки
# минимальный процент роста (для лонгов) или падения (для шортов)
CLOSE_POSITION_PERCENT=0.2

# лимиты баланс которые может использовать бот
# base - ассет слева в паре, quote - ассет справа
# можно указать 0 - тем самым поставить на сушку
# отрицательное число - лимитов нет, торгует на все, что есть
BALANCE_BASE_LIMIT=-1
BALANCE_QUOTE_LIMIT=200
